.tin-faq{
  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(white, 0.05);
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;

    .tin-icon{
      background-color: $text-color-dark;
    }

    &__icon{
      margin-right: 12px;
    }

    &__title{
      font-size: $font-size-4;
      font-weight: 700;
      color: $text-color-dark;
    }

    &:hover{
      .tin-faq__item__icon{
        background-color: $text-color-lighter;
      }

      .tin-faq__item__title{
        color: $text-color-lighter;
      }
    }
  }

  @media(min-width:768px){
    &__items{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 20px;
    }

    &__item{
      margin-bottom: initial;
    }
  }
}