.tin-ico{
  position: relative;

  &__coming-soon{
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // &__items{
  //   filter: blur(5px);
  // }

  &__item{
    background: rgba(white, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 40px 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.75);

    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      &__left{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
      }
    }

    &__title{
      font-weight: 500;
    }

    &__text{
      font-size: $font-size-4;
      font-weight: 700;
      color: $text-color-light;
    }

    .last-buy{
      filter: blur(5px);
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 15px;
      color: $text-color-light;
      background: rgba(white, 0.2);
      box-shadow: 0px 4px 4px rgba(black, 0.2);
      border-radius: 20px;

      &__user{
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }

      &__avatar{
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 999px;
        background: $background-color;
      }

      &__amount{
        font-size: $font-size-4;
        font-weight: 700;
        margin: 0 30px;
        white-space: nowrap;
      }

      &__time{
        white-space: nowrap;
      }
    }

    &.is-next{
      display: none;
      padding: 20px 40px 25px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      // width: calc(100% - 100px);
      // margin: auto;
      opacity: 0.5;
      transform: scale(0.85);
      transform-origin: top;

      &:nth-child(3){
        // width: calc(100% - 200px);
        opacity: 0.3;
        transform: scale(0.7) translateY(-18px);
      }
    }
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &__left{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    &__item{
      display: flex;
      align-items: center;
      padding: 0 30px;
      margin-bottom: 10px;

      &__icon{
        margin-right: 10px;
      }

      &__content {
        display: flex;
        flex-direction: column;

        .tin-value{
          color: white;
        }
      }
    }
  }

  &__button{
    width: 225px;
  }

  &__history{
    background: $background-color-light;
    padding: 30px;
    border-radius: 30px;
    width: min-content;
    max-width: 85%;
    margin: 40px auto;
    white-space: nowrap;
    overflow: scroll;

    &__header{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      font-size: 1.6rem;

      &__vesting{
        display: none;
      }
    }

    &__items{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__item{
      display: contents;

      span{
        margin-bottom: 10px;
        padding: 10px 15px;

        &.text-right{
          text-align: right;
        }
      }

      &.is-header{
        span{
          margin-bottom: 0;
        }
      }

      &:not(.is-header){
        span{
          background: rgba(white, 0.05);

          &:first-child{
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }

          &:last-child{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }

    .tin-spinner{
      height: 40px;
    }
  }

  @media (min-width: 768px){
    &__item{
      border-radius: 60px;
      padding: 56px 40px;

      &__header{
        flex-direction: row;

        &__left{
          flex-direction: row;
          align-items: center;
          text-align: left;
        }
      }

      &__label-text{
        margin-left: 40px;
      }

      .last-buy{
        display: flex;
      }

      &.is-next{
        display: block;
      }
    }

    &__footer{
      flex-direction: row;

      &__left{
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
      }

      &__item{
        border-left: solid 2px;
        margin-bottom: 0;

        &:first-child{
          border-left: none;
          padding-left: 0;
        }
      }
    }

    &__history{
      &__header{
        font-size: inherit;
        justify-content: space-between;

        &__vesting{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}