.tin-ico{
  position: relative;

  &__coming-soon{
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // &__items{
  //   filter: blur(5px);
  // }

  &__item{
    background: rgba(white, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 60px;
    padding: 56px 40px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.75);

    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__left{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__title{
      font-weight: 500;
    }

    &__label-text{
      margin-left: 40px;
    }

    &__text{
      font-size: $font-size-4;
      font-weight: 700;
      color: $text-color-light;
    }

    .last-buy{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 15px;
      color: $text-color-light;
      background: rgba(white, 0.2);
      box-shadow: 0px 4px 4px rgba(black, 0.2);
      border-radius: 20px;

      &__user{
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }

      &__avatar{
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 999px;
        background: $background-color;
      }

      &__amount{
        font-size: $font-size-4;
        font-weight: 700;
        margin: 0 30px;
        white-space: nowrap;
      }

      &__time{
        white-space: nowrap;
      }
    }

    &.is-next{
      display: none;
      padding: 20px 40px 25px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      // width: calc(100% - 100px);
      // margin: auto;
      opacity: 0.5;
      transform: scale(0.85);
      transform-origin: top;

      &:nth-child(3){
        // width: calc(100% - 200px);
        opacity: 0.3;
        transform: scale(0.7) translateY(-18px);
      }
    }
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left{
      display: flex;
    }

    &__item{
      display: flex;
      align-items: center;
      padding: 0 30px;
      border-left: solid 2px;

      &:first-child{
        border-left: none;
        padding-left: 0;
      }

      &__icon{
        margin-right: 10px;
      }

      &__content {
        display: flex;
        flex-direction: column;

        .tin-value{
          color: white;
        }
      }
    }
  }

  &__button{
    width: 225px;
  }

  @media (min-width: 768px){
    &__item{
      &.is-next{
        display: block;
      }
    }
  }
}