.tin-world-roadmap{
  &__filters{
    margin-bottom: 40px;
  }

  &__filter{
    text-transform: uppercase;
    margin: 0 0 10px;

    &__header{
      background: rgba(255, 255, 255, 0.05);
      border: solid transparent 1px;
      border-radius: 999px;
      padding: 13px 20px;
      cursor: pointer;
      text-align: center;
    }

    &__quarters{
      display: none;
      margin: 8px auto;
    }

    &__quarter{
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      border: solid white 1px;
      border-radius: 999px;
      padding: 9px 20px;
      cursor: pointer;
      margin: 0 8px;

      &:before{
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: -17px;
        width: 16px;
        height: 2px;
        background: white;
      }

      &:first-child{
        content: initial;

        &:before{
          content: initial;
        }
      }

      &.is-active{
        color: white;

        ~ .tin-world-roadmap__filter__quarter{
          background: rgba(255, 255, 255, 0.05);
          border: solid transparent 1px;

          &:before{
            background: rgba(255, 255, 255, 0.05);
          }
        }
      }

      &.is-old{
        color: rgba(255, 255, 255, 0.1) !important;
        background-color: rgba(255, 255, 255, 0.02) !important;
        pointer-events: none !important;
      }
    }

    &.is-active{
      .tin-world-roadmap__filter__header{
        background: rgba(255, 255, 255, 0.1);
        border-color: white;
        color: white;
      }

      .tin-world-roadmap__filter__quarters{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.is-old{
      .tin-world-roadmap__filter__quarter{
        border-color: transparent;
        pointer-events: none;

        &:before{
          background: rgba(255, 255, 255, 0.02);
        }
      }
    }
  }

  @media(min-width:768px){
    &__filters{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__filter{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;

      &__quarters{
        display: none;
        margin: 0 0 0 8px;
      }

      &__quarter{
        &:first-child{
          &:before{
            content: '';
          }
        }
      }
    }
  }
}

.tin-map{
  position: relative;

  &__country{
    position: absolute;
    pointer-events: none;
    border-radius: 999px;
    width: 2%;

    &__es{
      top: 49.6%;
      left: 45%;
      box-shadow: 0px 0px 20px $warning-color;
    }

    &__sv{
      top: 61.9%;
      left: 21.3%;
      box-shadow: 0px 0px 20px $warning-color;
    }

    &__lu{
      top: 43.8%;
      left: 47.7%;
      box-shadow: 0px 0px 20px $success-color;
    }

    &__gb{
      top: 41.6%;
      left: 45.5%;
      box-shadow: 0px 0px 20px $warning-color;
    }

    &__sg{
      top: 67%;
      left: 74.8%;
      box-shadow: 0px 0px 20px $success-color;
    }

    &__us{
      top: 49.6%;
      left: 18.5%;
      box-shadow: 0px 0px 20px $info-color;
    }

    &__ae{
      top: 57.5%;
      left: 61%;
      box-shadow: 0px 0px 20px $success-color;
    }

    &__in{
      top: 58.2%;
      left: 67.8%;
      box-shadow: 0px 0px 20px $warning-color;
    }

    &__ch{
      top: 45.2%;
      left: 48.1%;
      box-shadow: 0px 0px 20px $success-color;
    }

    &__mx{
      top: 58.3%;
      left: 17.8%;
      box-shadow: 0px 0px 20px $warning-color
    }
  }
}