// @mixin button($background,$color) {
//   background: $background;
//   color: $color;
// }

// usage: @include button(turquoise,black)

@mixin blurBackground($background) {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba($background, 0.15);
}

@mixin textGradientY($color1:#EBECF0, $color2:#707A8A) {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin textGradient($index: 0) {
  @if $index == 0 {
    background: linear-gradient(90deg, $warning-color 0%, $danger-color 33%, $purple-color 66%, $info-color 100%);
  }
  @if $index == 1 {
    background: linear-gradient(180deg, #EBECF0 0%, #707A8A 100%);
  }

  @if $index == 2 {
    background: linear-gradient(180deg, #F5F5F5 0%, #B5BCC8 100%);
  }

  @if $index == 3 {
    background: linear-gradient(89.99deg, #FC7A42 0.01%, #E340A1 50.52%, #664AD6 98.79%);
  }

  @if $index == 4 {
    background: linear-gradient(89.99deg, #00FFA3 0.01%, #14B2F5 98.79%);
  }

  @if $index == 5 {
    background: linear-gradient(89.99deg, #E340A1 0.01%, #664AD6 48.96%, #14B2F5 98.79%);
  }

  @if $index == 6 {
    background: linear-gradient(89.99deg, #664AD6 0.01%, #14B2F5 49.48%, #00FFA3 99.99%);
  }

  @if $index == 7 {
    background: linear-gradient(89.99deg, #FFBD14 0.01%, #00FFA3 99.99%);
  }

  @if $index == 8 {
    background: linear-gradient(89.99deg, #FA5442 0.01%, #FFBD14 99.99%);
  }

  @if $index == 9 {
    background: linear-gradient(89.99deg, #E340A1 0.01%, #664AD6 98.79%);
  }

  @if $index == 12 {
    background: linear-gradient(89.99deg, #00FFA3 28.31%, #14B2F5 60.21%);
  }

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

$indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12);

@each $index in $indexes {
  .text-gradient-#{$index} {
    @include textGradient($index);
  }
}

@mixin scrollbar($background: $background-color, $color1: $warning-color, $color2: $info-color, $color3: $purple-color, $color4: $danger-color, $width: 7px) {
  /* Customize website's scrollbar like Mac OS Not supports in Firefox and IE */
  /* total width */
  &::-webkit-scrollbar{
    background-color: $background;
    width: $width;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track{
    background-color: $background;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb{
    background-color: $color1;
    background-image: linear-gradient(0, $color1 0%, $color2 33%, $color3 66%, $color4 100%);
    background: linear-gradient(0, #FC7A42 0%, #E340A1 33%, #664AD6 66%, $info-color 100%);
    background: linear-gradient(0, $warning-color 0%, $danger-color 33%, $purple-color 66%, $info-color 100%);
    // background-image: linear-gradient(0, $warning-color 20%, $info-color 40%, $purple-color 60%, $danger-color 80%, $gray-color 100%);
    border-radius: 999px;
    border: 2px solid $background;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button{
    display: none;
  }
}
